*.o
.libs
Makefile*
convert-freebox
convert-cli
lib*
*mkv
moc_*
ui_*
modules
*.qm
qrc_*.cpp

convert-freebox.app
convert-freebox.xcodeproj
convert-freebox.zip
Info.plist
build
.DS_Store

vlc
build-vlc

pkg
release
